<!DOCTYPE html>
<html class="text-dark" style="background-image: url(static/img/cxv7qut4pj221.jpg); background-repeat: no-repeat; background-color: rgb(40,45,50);">
<head >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Buddy</title>
    <meta name="description" content="Let's get you there safely">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Footer-Dark.css') }}">
</head>
<body onload="parseResults()" class="text-dark" style="background-color: rgba(255,255,255,0);">
    <nav class="navbar navbar-light navbar-expand bg-dark navigation-clean" style="opacity: 1;filter: brightness(100%);">
        <div class="container"><a class="navbar-brand" href="/" style="background-color: rgba(255,255,255,0);color: rgba(255,255,255,0.9);">Buddy</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"></button>
            <div class="collapse navbar-collapse"
                id="navcol-1" style="background-color: #ffffff;"></div>
        </div>
    </nav>
    <header class="d-xl-flex flex-grow-1 flex-fill align-items-xl-end masthead text-white text-center" style="background: url('bg-masthead.jpg')no-repeat center center;padding-top: 100px;padding-bottom: 400px;background-image: url(&quot;none&quot;);">
        <div class="container flex-grow-1" style="background-color: rgba(111,111,111,0.15);">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5" style="font-size: 30px;">Directions from {{result.from}} to {{result.to}}</h1>
                    <p>Buddy has found some routes and sorted them from safest to most dangerous according to crime data.</p>
                </div>
                <div class="row">
                        <div class="col d-md-flex align-items-md-center" style="width: 600px;max-width: 100%;"><img width="600px" height="400px" src="../static/img/map.jpg"></div>
                            <div class="col" style="background-color: rgba(0, 0, 0, 0.37);">
                            <div class="d-flex d-xl-flex align-items-xl-center btn-group btn-group-toggle" data-toggle="buttons">                            
                            <label onclick="toggleDirections(1)"class="btn btn-secondary active" style="background-color: rgba(23,135,48,0.49);">1<input type="radio" name="options" checked=""></label>
                            <label onclick="toggleDirections(2)"class="btn btn-secondary" style="background-color: rgba(225,177,7,0.51);">2<input type="radio" name="options" checked=""></label>
                            <label onclick="toggleDirections(3)"class="btn btn-secondary" style="background-color: rgba(248,128,41,0.51);">3<input type="radio" name="options" checked=""></label>
                            <label onclick="toggleDirections(4)"class="btn btn-secondary" style="background-color: rgba(198,12,0,0.53);">4<input type="radio" name="options" checked=""></label></div>
                        <h4 id="route-number"style="font-size: 18px;margin-bottom: 0px;"></h4>
                        <p id="route-crime-rating"style="font-size: 16px;margin-bottom: 0px;"></p>
                        <p id="route-time-and-distance" style="font-size: 16px;margin-bottom: 0px;"></p>
                        <p id="route-paragraph"style="font-size: 14px;"></p>
                    </div>
                    <h4 id="route-number"style="font-size: 18px;margin-bottom: 0px;"></h4>
                    <p id="route-crime-rating"style="font-size: 18px;margin-bottom: 0px;"></p>
                    <p id="route-real-time" style="font-size: 18px;margin-bottom: 0px;"></p>
                    <p id="route-paragraph" style="font-size: 14px;"></p>
                </div>
            </div>
        </div>
    </header>

    <div class="footer-dark" style="padding-top: 20px;padding-bottom: 1px;">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Buddy</h3>
                        <p>Buddy Description</p>
                    </div>
                </div>
                <p class="copyright">Buddy © 2019</p>
            </div>
        </footer>
    </div>
    <script>
        var directionsArray = [];
        var result = JSON.parse('{{result| tojson}}');
        function parseResults(){
            var index = 1;
            var tempSteps = ""
            var tempCrimeRating = ""
            for (direction of result.directions ){
                tempSteps += "Step " + index + " " + direction.narrative + " walk for " + direction.distance + " miles<br>";
                index++;
            }
            tempCrimeRating = result.crimeRating;
            directionsArray.push({
                steps: tempSteps,
                crimeRating: tempCrimeRating,
                realTime: result.realTime,
                distance: result.distance
            });

            for (route of result.alternateRoutes){
                index = 1;
                tempSteps = "";
                tempCrimeRating = ""
                for (direction of route.directions ){
                  for (step of direction){
                    tempSteps += "Step " + index + " " + step.narrative + " Walk for " + step.distance + " miles<br>";
                    index++;
                  }
                }
                tempCrimeRating = route.crimeRating;
                directionsArray.push({
                    steps: tempSteps,
                    crimeRating: tempCrimeRating,
                    realTime: route.realTime,
                    distance: route.distance
                });
            }
            sortByCrime();
            toggleDirections(1);
        }
        function toggleDirections(button) {
            var currentDirection = directionsArray[button - 1];
            var routeNumber = document.getElementById("route-number");
            var routeCrimeRating = document.getElementById("route-crime-rating");
            var routeTimeAndDistance = document.getElementById("route-time-and-distance")
            var paragraph = document.getElementById("route-paragraph");
            routeNumber.innerHTML = "Route " + button;
            routeCrimeRating.innerHTML = "Crime Rating: "+ currentDirection.crimeRating;
            routeTimeAndDistance.innerHTML = "Estimated time: " + currentDirection.realTime + " minutes Distance: " + currentDirection.distance + " miles<br><br>";
            paragraph.innerHTML = currentDirection.steps;
          }

          function sortByCrime(){
            directionsArray.sort(function(a, b){return a.crimeRating-b.crimeRating});
          }
          function sortByTime(){
            directionsArray.sort(function(a, b){return a.realTime-b.realTime});
          }
    </script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>