<!DOCTYPE html>
<html class="text-dark" style="background-image: url(assets/img/cxv7qut4pj221.jpg);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Buddy</title>
    <meta name="description" content="Let's get you there safely">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Footer-Dark.css') }}">
</head>

<body class="text-dark" style="background-color: rgba(255,255,255,0);">
    <nav class="navbar navbar-light navbar-expand bg-dark navigation-clean" style="opacity: 1;filter: brightness(100%);">
        <div class="container"><a class="navbar-brand" href="#" style="background-color: rgba(255,255,255,0);color: rgba(255,255,255,0.9);">Buddy</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"></button>
            <div class="collapse navbar-collapse"
                id="navcol-1" style="background-color: #ffffff;"></div>
        </div>
    </nav>
    <header class="d-xl-flex flex-grow-1 flex-fill align-items-xl-end masthead text-white text-center" style="background: url('assets/img/bg-masthead.jpg')no-repeat center center;padding-top: 192px;padding-bottom: 400px;background-image: url(&quot;none&quot;);">
        <div class="d-flex align-items-xl-end overlay" style="font-size: 18px;"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Buddy will get you there safely</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form style="padding-top: 20px;">
                        <div class="form-row" style="padding-bottom: 10px;">
                            <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control d-xl-flex align-items-xl-start overlay" type="text" id="starting-point" placeholder="Enter your starting location..." style="opacity: 0.75;height: 48px;color: rgb(255,255,255);padding-bottom: 6px;"></div>
                            <div
                                class="col-12 col-md-3"><button class="btn btn-dark btn-block btn-lg" type="button" style="font-size: 16px;background-color: rgba(52,58,64,0.49);">Get Location</button></div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control d-xl-flex align-items-xl-start overlay" type="text" id="destination" placeholder="Enter your destination..." style="opacity: 0.75;color: rgb(255,255,255);"></div>
                    <div class="col-12 col-md-3"><button class="btn btn-success btn-block btn-lg" type="submit" style="background-color: rgba(40,167,69,0.45);">Start</button></div>
                </div>
                </form>
            </div>
        </div>
        </div>
    </header>
    <div class="footer-dark" style="padding-top: 20px;padding-bottom: 1px;">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Buddy</h3>
                        <p>Buddy Description</p>
                    </div>
                </div>
                <p class="copyright">Buddy © 2019</p>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>